.divPitch {
  margin-top: 70px;
  width: 600px;
  height: 600px;
  padding: 20px;
  background-image: url(../../assets/img/soccer-pitch.jpg);
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.divPlayersRow {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.blocked > p {
  font-size: 40px;
  background-color: rgb(256, 256, 256, 0.8);
  border-radius: 10px;
  padding: 10px;
}
