.pitchH2 {
  margin-top: 40px;
  text-align: center;
}
.divPitch {
  margin-top: 30px;
  width: 600px;
  height: 600px;
  padding: 30px 20px 10px 20px;
  background-image: url(../../assets/img/soccer-pitch.jpg);
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.divPlayersRow {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.blocked > p {
  font-size: 40px;
  background-color: rgb(256, 256, 256, 0.8);
  border-radius: 10px;
  padding: 10px;
}
