.imgZamyslony {
  position: absolute;
  left: -50px;
  bottom: -50px;
  border-radius: 40px;
  width: 420px;
}
.imgCzesiu {
  position: absolute;
  top: 100px;
  right: -100px;
  border-radius: 100px;
  width: 450px;
}
