<h1>Michniewicz Symulator v.711</h1>
<h2>Jakim ustawieniem zagrasz?</h2>
1 - <input type="number" class="numInput" [(ngModel)]="numOfDefs" /> -
<input type="number" class="numInput" [(ngModel)]="numOfMids" /> -
<input type="number" class="numInput" [(ngModel)]="numOfStrikers" />
<p>{{ numOfDefs + numOfMids + numOfStrikers + 1}}</p>
<div *ngIf="numOfDefs + numOfMids + numOfStrikers > 10">Too many</div>
<div *ngIf="numOfDefs + numOfMids + numOfStrikers < 10">Too little</div>
<div *ngIf="numOfDefs + numOfMids + numOfStrikers == 10">Good.</div>
<app-fetch-players></app-fetch-players>
