* {
  font-family: Lato;
}
.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divFormationInput {
  font-size: 40px;
}
.numInput {
  font-size: 40px;
  width: 30px;
  border-radius: 5px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
